@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@font-face {
    font-family: 'Naza';
    src: url('../fonts/nasalization-rg.otf');
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    transition: all 0.7s;
    margin: 0 0 0 0;
    scroll-behavior: smooth;
}

nav {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin: 24px 0 24px 0;
    display: flex;
    gap: 42px;
    color: #B9AEAE;
}

.navbar-title {
    font-weight: 700;
}

.planet-img {
    filter: brightness(0.7);
}

.bg-overlay {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}

.main-body {
    color: aliceblue;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    min-width: 100vw;
    min-height: 90vh;
    gap: 10rem;
}

.left-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20%;
    align-items: center;
    gap: 2rem;
}

.right-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
    align-items: center;
    gap: 2rem;
}

.main-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    gap: 10px;
}


.main-title {
    display: flex;
    align-items: start;
    font-family: "Naza";
    font-size: 60px;
    line-height: 3rem;
    height: 2rem;
}

.main-subtitle {
    display: flex;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 20px;
    font-weight: 400;
    color: #D1D5DB;
}

.main-small-text {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 14px;
    font-weight: 500;
    margin: 32px 0 0 0;
    color: #D1D5DB;
}

.main-button {
    display: flex;
    color: aliceblue;
    justify-content: center;
    margin: 24px 0 0 0;
    padding: 17px 41px 17px 41px;
    border-radius: 6px;
    font-size: 18px;
    border: 2px solid aliceblue;
    background-color: transparent;
}

.main-button:hover {
    background-color: aliceblue;
    cursor: pointer;
    color: black;
}

.section-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 30vh;
    min-width: 100vw;
    position: relative;
    margin: 50px 0 50px 0;
}

.section-2>p {
    max-width: 1160px;
    font-size: 20px;
    text-align: center;
    font-family: "Urbanist", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.section-2>h1 {
    font-family: "Naza";
    font-size: 60px;
}

.section-3 {
    position: relative;
}

.section-3>img {
    position: absolute;
    width: 100%;
    height: 75vh;
    object-fit: cover;
    z-index: -1;
}

.section-3-upper-text>h1 {
    font-family: "Naza";
    width: 100%;
    font-size: 60px;
    display: flex;
    justify-content: start;
}

.section-3-upper-text>p {
    width: 100%;
    font-size: 20px;
    text-align: end;
    font-family: "Urbanist", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.section-3-upper-text {
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: relative;
    z-index: 1;
    margin: 2rem 16rem 0 16rem;
}

.section-3-exoplanets {
    width: 100vw;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6rem;
}

.exo-text {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    text-align: center;
    line-height: 16px;
}

.exo-text-title {
    color: aliceblue;
    display: flex;
    align-items: end;
    width: auto;
    z-index: 1;
    margin: 0 0 12px 0;
    font-family: "Urbanist", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-weight: 700;
}
.exo-text-subtitle {
    color: aliceblue;
    display: flex;
    align-items: end;
    width: auto;
    z-index: 1;
    margin: 0 0 24px 0;
    font-family: "Urbanist", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-weight: 700;
} 


.section-3-exoplanets>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 12px 10px 12px;
    width: 213px;
    height: 320px;
    background-color: rgba(0, 0, 0, 0.527);
}

.exoplanet-img {
    width: auto;
    height: 210px;
    z-index: 1;
}


.section-4 {
    display: flex;
    position: relative;
    width: 100vw;
    height: 50vh;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.section-4-left {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.section-4-left>img {
    width: auto;
    height: 60vh;
    transform: rotate(11deg) translateY(10%);
    object-fit: cover;
    overflow: auto;
}

.section-4-right {
    color: aliceblue;
    width: 50%;
}

.section-4-right > h1 {
    font-family: "Naza";
    font-size: 60px;
    display: flex;
    justify-content: end;
    margin: 0 8rem 0 0;
}

.section-4-right > p {
    font-family: "Urbanist", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    text-align: end;
    margin: 0 8rem 0 0;
}